{
  "log": {
    "_recordingName": "validateInvocationFailsWithBadCredentials",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ad52a64fee310b194b28b81da26e3824",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "sysparm_limit",
              "value": "1"
            }
          ],
          "url": "https://dev197215.service-now.com/api/now/table/sys_user?sysparm_limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 113,
            "text": "{\"error\":{\"message\":\"User Not Authenticated\",\"detail\":\"Required to provide Auth information\"},\"status\":\"failure\"}"
          },
            {
              "httpOnly": true,
              "name": "BIGipServerpool_dev197215",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Basic realm=\"Service-now\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 613,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
