{
  "log": {
    "_recordingName": "validate-multiple-classes-1",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b6ba72afa0263dc37caed1df280a292d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "sysparm_fields",
              "value": "super_class,name"
            }
          ],
          "url": "https://dev215226.service-now.com/api/now/table/sys_db_object/b662e48e1802021076dae3f117ba1e90?sysparm_fields=super_class%2Cname"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 201,
            "text": "{\"result\":{\"super_class\":{\"link\":\"https://dev215226.service-now.com/api/now/table/sys_db_object/0052284e1802021076dae3f117ba1e3d\",\"value\":\"0052284e1802021076dae3f117ba1e3d\"},\"name\":\"cmdb_ci_hardware\"}}"
          },
            {
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "maxAge": 0,
              "name": "glide_user",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "maxAge": 0,
              "name": "glide_user_session",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "expires": "2092-08-06T16:48:49.000Z",
              "httpOnly": true,
              "maxAge": 2147483[...]
