{
  "log": {
    "_recordingName": "step_group_manages_cmdb",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "36d36083a2b52a7509a6c1da3f6141b1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "sysparm_limit",
              "value": "400"
            }
          ],
          "url": "https://dev94947.service-now.com/api/now/table/cmdb_ci_service_business?sysparm_limit=400"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 3411,
            "text": "{\"result\":[{\"attested_date\":\"\",\"parent\":\"\",\"operational_status\":\"1\",\"consumer_type\":\"internal\",\"sys_updated_on\":\"2023-06-12 15:23:53\",\"number\":\"BSN0001001\",\"published_ref\":\"\",\"discovery_source\":\"\",\"first_discovered\":\"\",\"due_in\":\"\",\"used_for\":\"Production\",\"state\":\"\",\"gl_account\":\"\",\"invoice_number\":\"\",\"sys_created_by\":\"admin\",\"warranty_expiration\":\"\",\"sla\":\"\",\"owned_by\":{\"link\":\"https://dev94947.service-now.com/api/now/table/sys_user/62826bf03710200044e0bfc8bcbe5df1\",\"value\":\"62826bf03710200044e0bfc8bcbe5df1\"},\"checked_out\":\"\",\"sys_domain_path\":\"/\",\"business_unit\":\"\",\"version\":\"\",\"maintenance_schedule\":\"\",\"cost_center\":\"\",\"attested_by\":\"\",\"dns_domain\":\"\",\"service_status\":\"requirements\",\"assigned\":\"\",\"life_cycle_stage\":\"\",\"portfolio_status\":\"pipeline\",\"purchase_date\":\"\",\"business_need\":\"\",\"delivery_manager\":\"\",\"end_date\":\"\",\"short_description\":\"\",\"busines_criticality\":\"2 - somewhat critical\",\"managed_by\":{\"link\":\"https://dev94947.service-now.com/api/now/table/sys_user/62826bf03710200044e0bfc8bcbe5df1\",\"value\":\"62826bf03710200044e0bfc8bcbe5df1\"},\"stakeholders\":\"\",\"can_print\":\"false\",\"last_discovered\":\"\",\"service_owner_delegate\":\"\",\"sys_class_name\":\"cmdb_ci_service_business\",\"manufacturer\":{\"link\":\"https://dev94947.service-now.com/api/now/table/core_company/0c43c22bc611227500002515e25bf079\",\"value\":\"0c43c22bc611227500002515e25bf079\"},\"life_cycle_stage_status\":\"\",\"vendor\":\"\",\"model_number\":\"\",\"assigned_to\":{\"link\":\"https://dev94947.service-now.com/api/now/table/sys_user/62826bf03710200044e0bfc8bcbe5df1\",\"value\":\"62826bf03710200044e0bfc8bcbe5df1\"},\"start_date\":\"\",\"serial_number\":\"\",\"spm_taxonomy_node\":\"\",\"price_unit\":\"\",\"support_group\":\"\",\"correlation_id\":\"\",\"unverified\":\"false\",\"attributes\":\"\",\"asset\":\"\",\"skip_sync\":\"false\",\"aliases\":\"\",\"attestation_score\":\"\",\"service_level_requirement\":\"\",\"sys_updated_by\":\"admin\",\"sys_created_on\":\"2023-06-01 15:17:02\",\"sys_domain\":{\"link\":\"https://dev94947.service-now.com/api/now/table/sys_user_group/global\",\"value\":\"global\"},\"install_date\":\"\",\"monitoring_requirements\":\"\",\"asset_tag\":\"\",\"user_group\":\"\",\"fqdn\":\"\",\"spm_service_portfolio\":\"\",\"change_control\":\"\",\"unit_description\":\"\",\"business_relation_manager\":\"\",\"last_review_date\":\"\",\"business_contact\":\"\",\"compatibility_dependencies\":\"\",\"delivery_date\":\"\",\"install_status\":\"1\",\"supported_by\":\"\",\"name\":\"Service1\",\"subcategory\":\"\",\"price_model\":\"per_unit\",\"assignment_group\":\"\",\"managed_by_group\":{\"link\":\"https://dev94947.service-now.com/api/now/table/sys_user_group/019ad92ec7230010393d265c95c260dd\",\"value\":\"019ad92ec7230010393d265c95c260dd\"},\"prerequisites\":\"\",\"sys_id\":\"cc2a2cef970321105148b6cfe153af8b\",\"po_number\":\"\",\"checked_in\":\"\",\"sys_class_path\":\"/!!/!7/!!\",\"mac_address\":\"\",\"company\":\"\",\"justification\":\"\",\"department\":\"\",\"checkout\":\"\",\"comments\":\"\",\"cost\":\"\",\"attestation_status\":\"Not Yet Reviewed\",\"sys_mod_count\":\"3\",\"monitor\":\"false\",\"ip_address\":\"\",\"model_id\":{\"link\":\"https://dev94947.service-now.com/api/now/table/cmdb_model/4431c26b37913000158bbfc8bcbe5d0d\",\"value\":\"4431c26b37913000158bbfc8bcbe5d0d\"},\"duplicate_of\":\"\",\"sys_tags\":\"\",\"cost_cc\":\"USD\",\"order_date\":\"\",\"schedule\":\"\",\"environment\":\"\",\"due\":\"\",\"attested\":\"false\",\"location\":{\"link\":\"https://dev94947.service-now.com/api/now/table/cmn_location/25b3d04b0a0a0bb300176b546c22db27\",\"value\":\"25b3d04b0a0a0bb300176b546c22db27\"},\"category\":\"\",\"fault_count\":\"0\",\"lease_id\":\"\",\"service_classification\":\"Business Service\"}]}"
          },
            {
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "maxAge": 0,
              "name": "glide_user",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "maxAge": 0,
              "name": "glide_user_session",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "expires": "2091-06-30T18:41:37.000Z",
              "httpOnly": true,
              "maxAge": 2147483647,
              "name": "glide_[...]
