{
  "log": {
    "_recordingName": "validate-multiple-classes",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "89e43ae8483e20a37ac397a34e366a00",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "sysparm_limit",
              "value": "500"
            },
            {
              "name": "name",
              "value": "cmdb_ci_server"
            },
            {
              "name": "sysparm_fields",
              "value": "super_class,name"
            }
          ],
          "url": "https://dev215226.service-now.com/api/now/table/sys_db_object?sysparm_limit=500&name=cmdb_ci_server&sysparm_fields=super_class%2Cname"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 201,
            "text": "{\"result\":[{\"super_class\":{\"link\":\"https://dev215226.service-now.com/api/now/table/sys_db_object/4882a4ce1802021076dae3f117ba1edf\",\"value\":\"4882a4ce1802021076dae3f117ba1edf\"},\"name\":\"cmdb_ci_server\"}]}"
          },
            {
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "maxAge": 0,
              "name": "glide_user",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "maxAge": 0,
              "name": "glide_user_session",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "expires": "2092-08-03T18:27:38.000Z",
              "httpOnly": true,
              "maxAge": 2147483[...]
