{
  "log": {
    "_recordingName": "validate-multiple-classes",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c4ba8f804c5a8c50330a32fb81adfef6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "sysparm_limit",
              "value": "500"
            },
            {
              "name": "name",
              "value": "cmdb_ci_server"
            }
          ],
          "url": "https://dev215226.service-now.com/api/now/table/sys_db_object?sysparm_limit=500&name=cmdb_ci_server"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1288,
            "text": "{\"result\":[{\"create_access\":\"true\",\"alter_access\":\"true\",\"access\":\"\",\"live_feed_enabled\":\"false\",\"sys_updated_on\":\"2024-05-09 22:11:51\",\"sys_class_name\":\"sys_db_object\",\"is_extendable\":\"true\",\"sys_id\":\"5482e4ce1802021076dae3f117ba1e6b\",\"user_role\":\"\",\"create_access_controls\":\"false\",\"delete_access\":\"false\",\"sys_updated_by\":\"system\",\"sys_class_path\":\"/!!/!2/!(/!!\",\"sys_created_on\":\"2024-05-09 22:11:51\",\"caller_access\":\"\",\"client_scripts_access\":\"true\",\"extension_model\":\"\",\"actions_access\":\"true\",\"sys_name\":\"CMDB CI Server\",\"sys_scope\":{\"link\":\"https://dev215226.service-now.com/api/now/table/sys_scope/global\",\"value\":\"global\"},\"sys_created_by\":\"system\",\"sys_class_code\":\"!!\",\"read_access\":\"true\",\"super_class\":{\"link\":\"https://dev215226.service-now.com/api/now/table/sys_db_object/4882a4ce1802021076dae3f117ba1edf\",\"value\":\"4882a4ce1802021076dae3f117ba1edf\"},\"sys_mod_count\":\"0\",\"ws_access\":\"true\",\"label\":\"Server\",\"update_access\":\"true\",\"sys_package\":{\"link\":\"https://dev215226.service-now.com/api/now/table/sys_package/3e42a44e1802021076dae3f117ba1e54\",\"value\":\"3e42a44e1802021076dae3f117ba1e54\"},\"sys_update_name\":\"sys_db_object_5482e4ce1802021076dae3f117ba1e6b\",\"scriptable_table\":\"false\",\"configuration_access\":\"false\",\"name\":\"cmdb_ci_server\",\"number_ref\":\"\",\"sys_policy\":\"\"}]}"
          },
            {
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "maxAge": 0,
              "name": "glide_user",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "maxAge": 0,
              "name": "glide_user_session",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "expires": "2092-08-06T16:48:38.000Z",
              "httpOnly": true,
              "maxAge": 2147483[...]
