{
  "log": {
    "_recordingName": "step-cmdb",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "30ce7fe445809ef8d06395b00f87c9c4",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "sysparm_limit",
              "value": "500"
            }
          ],
          "url": "https://dev122002.service-now.com/api/now/table/cmdb_ci_linux_server?sysparm_limit=500"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 13697,
            "text": "{\"result\":[{\"firewall_status\":\"Intranet\",\"os_address_width\":\"\",\"attested_date\":\"\",\"operational_status\":\"1\",\"os_service_pack\":\"\",\"cpu_core_thread\":\"\",\"cpu_manufacturer\":\"\",\"sys_updated_on\":\"2023-03-14 03:54:52\",\"discovery_source\":\"\",\"first_discovered\":\"\",\"due_in\":\"\",\"used_for\":\"Production\",\"gl_account\":\"\",\"invoice_number\":\"\",\"sys_created_by\":\"glide.maint\",\"ram\":\"2048\",\"warranty_expiration\":\"\",\"cpu_name\":\"\",\"cpu_speed\":\"2800\",\"owned_by\":\"\",\"checked_out\":\"\",\"kernel_release\":\"\",\"classification\":\"Production\",\"disk_space\":\"40\",\"sys_domain_path\":\"/\",\"business_unit\":\"\",\"object_id\":\"\",\"maintenance_schedule\":\"\",\"cost_center\":\"\",\"attested_by\":\"\",\"dns_domain\":\"\",\"assigned\":\"2022-09-09 07:00:00\",\"life_cycle_stage\":\"\",\"purchase_date\":\"\",\"cd_speed\":\"\",\"short_description\":\"\",\"floppy\":\"\",\"managed_by\":{\"link\":\"https://dev122002.service-now.com/api/now/table/sys_user/8a826bf03710200044e0bfc8bcbe5d72\",\"value\":\"8a826bf03710200044e0bfc8bcbe5d72\"},\"os_domain\":\"\",\"can_print\":\"false\",\"last_discovered\":\"\",\"sys_class_name\":\"cmdb_ci_linux_server\",\"cpu_count\":\"1\",\"manufacturer\":{\"link\":\"https://dev122002.service-now.com/api/now/table/core_company/c115c2f737e3100044e0bfc8bcbe5d46\",\"value\":\"c115c2f737e3100044e0bfc8bcbe5d46\"},\"life_cycle_stage_status\":\"\",\"vendor\":{\"link\":\"https://dev122002.service-now.com/api/now/table/core_company/3efe8c4c37423000158bbfc8bcbe5d7d\",\"value\":\"3efe8c4c37423000158bbfc8bcbe5d7d\"},\"model_number\":\"\",\"assigned_to\":\"\",\"start_date\":\"\",\"os_version\":\"2.6.9-22.0.1.ELsmp\",\"serial_number\":\"\",\"cd_rom\":\"false\",\"support_group\":\"\",\"correlation_id\":\"\",\"unverified\":\"false\",\"attributes\":\"\",\"asset\":{\"link\":\"https://dev122002.service-now.com/api/now/table/alm_asset/0bc1ba8837f3100044e0bfc8bcbe5dbb\",\"value\":\"0bc1ba8837f3100044e0bfc8bcbe5dbb\"},\"cpu_core_count\":\"\",\"form_factor\":\"\",\"skip_sync\":\"false\",\"most_frequent_user\":\"\",\"attestation_score\":\"\",\"sys_updated_by\":\"system\",\"sys_created_on\":\"2008-10-26 17:17:28\",\"cpu_type\":\"Intel\",\"sys_domain\":{\"link\":\"https://dev122002.service-now.com/api/now/table/sys_user_group/global\",\"value\":\"global\"},\"install_date\":\"2022-04-23 08:00:00\",\"asset_tag\":\"P1000091\",\"dr_backup\":\"\",\"hardware_substatus\":\"\",\"fqdn\":\"\",\"change_control\":\"\",\"internet_facing\":\"false\",\"delivery_date\":\"\",\"hardware_status\":\"\",\"install_status\":\"1\",\"supported_by\":\"\",\"name\":\"PS LinuxApp01\",\"subcategory\":\"\",\"default_gateway\":\"\",\"chassis_type\":\"\",\"virtual\":\"false\",\"assignment_group\":\"\",\"managed_by_group\":\"\",\"sys_id\":\"3a290cc60a0a0bb400000bdb386af1cf\",\"po_number\":\"\",\"checked_in\":\"\",\"sys_class_path\":\"/!!/!2/!(/!!/!0\",\"mac_address\":\"\",\"company\":{\"link\":\"https://dev122002.service-now.com/api/now/table/core_company/e7c1f3d53790200044e0bfc8bcbe5deb\",\"value\":\"e7c1f3d53790200044e0bfc8bcbe5deb\"},\"justification\":\"\",\"department\":\"\",\"comments\":\"\",\"cost\":\"45557.5\",\"os\":\"Linux Red Hat\",\"attestation_status\":\"\",\"sys_mod_count\":\"24\",\"monitor\":\"false\",\"ip_address\":\"\",\"model_id\":{\"link\":\"https://dev122002.service-now.com/api/now/table/cmdb_model/5f5fbcc3c0a8010e00f3b27814f3b96b\",\"value\":\"5f5fbcc3c0a8010e00f3b27814f3b96b\"},\"duplicate_of\":\"\",\"sys_tags\":\"\",\"cost_cc\":\"USD\",\"order_date\":\"\",\"schedule\":\"\",\"environment\":\"\",\"due\":\"\",\"attested\":\"false\",\"location\":{\"link\":\"https://dev122002.service-now.com/api/now/table/cmn_location/25ab9f690a0a0bb3001c5fec1d0d7bcb\",\"value\":\"25ab9f690a0a0bb3001c5fec1d0d7bcb\"},\"category\":\"Do not migrate to asset\",\"fault_count\":\"0\",\"host_name\":\"\",\"lease_id\":\"\"},{\"firewall_status\":\"Intranet\",\"os_address_width\":\"\",\"attested_date\":\"\",\"operational_status\":\"1\",\"os_service_pack\":\"\",\"cpu_core_thread\":\"\",\"cpu_manufacturer\":\"\",\"sys_updated_on\":\"2023-03-14 03:55:41\",\"discovery_source\":\"\",\"first_discovered\":\"\",\"due_in\":\"\",\"used_for\":\"Production\",\"gl_account\":\"\",\"invoice_number\":\"\",\"sys_created_by\":\"glide.maint\",\"ram\":\"2048\",\"warranty_expiration\":\"\",\"cpu_name\":\"\",\"cpu_speed\":\"2800\",\[...]
