{
  "log": {
    "_recordingName": "validateInvocationPassesWithBadCMDBParent",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ad52a64fee310b194b28b81da26e3824",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "sysparm_limit",
              "value": "1"
            }
          ],
          "url": "https://dev94947.service-now.com/api/now/table/sys_user?sysparm_limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1307,
            "text": "{\"result\":[{\"calendar_integration\":\"1\",\"country\":\"\",\"user_password\":\"[REDACTED]\",\"last_login_time\":\"2019-04-05 22:16:30\",\"source\":\"\",\"sys_updated_on\":\"2023-05-14 14:35:37\",\"building\":\"\",\"web_service_access_only\":\"false\",\"notification\":\"2\",\"enable_multifactor_authn\":\"false\",\"sys_updated_by\":\"developer.program@snc\",\"sys_created_on\":\"2019-04-05 21:09:12\",\"sys_domain\":{\"link\":\"https://dev94947.service-now.com/api/now/table/sys_user_group/global\",\"value\":\"global\"},\"state\":\"\",\"vip\":\"false\",\"sys_created_by\":\"admin\",\"zip\":\"\",\"home_phone\":\"\",\"time_format\":\"\",\"last_login\":\"2019-04-05\",\"default_perspective\":\"\",\"active\":\"true\",\"sys_domain_path\":\"/\",\"cost_center\":\"\",\"phone\":\"\",\"name\":\"survey user\",\"employee_number\":\"\",\"password_needs_reset\":\"false\",\"gender\":\"\",\"city\":\"\",\"failed_attempts\":\"0\",\"user_name\":\"survey.user\",\"roles\":\"\",\"title\":\"\",\"sys_class_name\":\"sys_user\",\"sys_id\":\"005d500b536073005e0addeeff7b12f4\",\"internal_integration_user\":\"false\",\"ldap_server\":\"\",\"mobile_phone\":\"\",\"street\":\"\",\"company\":\"\",\"department\":\"\",\"first_name\":\"survey\",\"email\":\"survey.user@email.com\",\"introduction\":\"\",\"preferred_language\":\"\",\"manager\":\"\",\"locked_out\":\"false\",\"sys_mod_count\":\"3\",\"last_name\":\"user\",\"photo\":\"\",\"avatar\":\"\",\"middle_name\":\"\",\"sys_tags\":\"\",\"time_zone\":\"\",\"schedule\":\"\",\"date_format\":\"\",\"location\":\"\"}]}"
          },
            {
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "maxAge": 0,
              "name": "glide_user",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "maxAge": 0,
              "name": "glide_user_session",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "expires": "2091-06-27T16:37:56.000Z",
              "httpOnly": true,
              "maxAge": 2147483647,
              "name": "glide_[...]
